.BPic{
    height: 900px;
    background-size: cover;
    background-image: url('https://images6.alphacoders.com/101/1012489.jpg');
    
}
.font {
    color: #94cfac;
}

.subBg{
    background-color: #94cfac;
}