.about {
    height: 500px;
    /* width: 1/2; */
    background-size: cover;
    /* color: rgba(48, 79, 79, 0.582); */
    /* background-position: fixed;
    background-attachment: center; */
    background-image:  url('https://images.unsplash.com/photo-1605192704979-2bb15327c206?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8a2lkeiUyMHRveSUyMHN0b3J5fGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60');
}

.aboutText{
    background-color: #B0A4A4;
    /* width: 1/2; */
    height: 500px;
}

.aboutBg{
    background-color: #C9DBB2;
}